Source: icestorm
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Ruben Undheim <ruben.undheim@gmail.com>
Section: electronics
Priority: optional
Build-Depends: debhelper (>= 9),
               libftdi-dev,
               python3
Standards-Version: 3.9.6
Vcs-Browser: https://anonscm.debian.org/cgit/debian-science/packages/icestorm.git
Vcs-Git: git://anonscm.debian.org/debian-science/packages/icestorm.git
Homepage: http://www.clifford.at/icestorm/

Package: icestorm-db
Architecture: all
Depends: ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: icestorm
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         icestorm-db,
         python3
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
